.jumbotron {
  padding-top: 6rem;
  background-color: #87cefa;
}

#project {
  background-color: #87cefa;
}

section {
  padding-top: 6rem;
}
.jumbotron {
  padding-top: 6rem;
  background-color: #87cefa;
}

#project {
  background-color: #87cefa;
}

section {
  padding-top: 6rem;
}

/* footer */
footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: #87cefa;
}
.text-white {
  text-decoration: none;
}

/* Kubus */
.wrapper {
  margin-top: 150px;
  perspective: 1000px;
  perspective-origin: 50% 50%;
}
.kubus {
  margin: auto;
  position: relative;
  height: 200px;
  width: 200px;
  transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}
.kubus div {
  position: absolute;
  box-sizing: border-box;
  padding: 10px;
  height: 100%;
  width: 100%;
  opacity: 1;
  border: solid 1px rgb(255, 203, 5);
  color: #ffffff;
  display: flex;
  align-items: center;
}
.kubus img {
  max-width: 95%;
}
.depan {
  transform: translateZ(100px);
  -ms-transform: translateZ(100px);
  -webkit-transform: translateZ(100px);
  background-color: #2196f3;
}
.belakang {
  transform: translateZ(-100px) rotateY(180deg);
  -webkit-transform: translateZ(-100px) rotateY(180deg);
  -ms-transform: translateZ(-100px) rotateY(180deg);
  background-color: #2196f3;
}
.kanan {
  transform: rotateY(-270deg) translateX(100px);
  -ms-transform: rotateY(-270deg) translateX(100px);
  -webkit-transform: rotateY(-270deg) translateX(100px);
  transform-origin: top right;
  -ms-transform-origin: top right;
  -webkit-transform-origin: top right;
  background-color: #2196f3;
}
.kiri {
  transform: rotateY(270deg) translateX(-100px);
  -webkit-transform: rotateY(270deg) translateX(-100px);
  -ms-transform: rotateY(270deg) translateX(-100px);
  transform-origin: center left;
  -ms-transform-origin: center left;
  -webkit-transform-origin: center left;
  background-color: #2196f3;
}
.atas {
  transform: rotateX(-270deg) translateY(-100px);
  -webkit-transform: rotateX(-270deg) translateY(-100px);
  -ms-transform: rotateX(-270deg) translateY(-100px);
  transform-origin: top center;
  -ms-transform-origin: top center;
  -webkit-transform-origin: top center;
  background-color: #2196f3;
}
.bawah {
  transform: rotateX(270deg) translateY(100px);
  -webkit-transform: rotateX(270deg) translateY(100px);
  -ms-transform: rotateX(270deg) translateY(100px);
  transform-origin: bottom center;
  -ms-transform-origin: bottom center;
  -webkit-transform-origin: bottom center;
  background-color: #2196f3;
}
@keyframes rotate {
  from {
    transform: rotateX(0deg) rotateY(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
    -ms-transform: rotateX(360deg) rotateY(360deg);
    -webkit-transform: rotateX(360deg) rotateY(360deg);
  }
}
@-webkit-keyframes rotate {
  from {
    transform: rotateX(0deg) rotateY(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
    -ms-transform: rotateX(360deg) rotateY(360deg);
    -webkit-transform: rotateX(360deg) rotateY(360deg);
  }
}
.kubus {
  animation: rotate 20s infinite linear;
  -webkit-animation: rotate 20s infinite linear;
}
